<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Playing with CSRF tokens</p>
<form>

    {{ csrf_token }}

    <hr />
    {% csrf_token %}
</form>
</body>
</html>